// Variables
$secondary: #4361ee;
$primary: #ffffff;
$dark: #000000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.wrapper {
  width: 100%;
  margin: 1rem;
}

@import './pages/sidebar.scss';
@import './pages/home.scss';
@import './pages/floatingMenu.scss';
@import './pages/about.scss';
